header nav {
  padding: 1rem;
  border-bottom: 0.5px solid white;
}
.navi {
  max-width: 100%;
  padding: 0 5rem;
  margin: 0 auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
.container {
  max-width: 974px;
  margin: 0 auto;
}
header {
  background-color: #17161c;
}
.button {
  cursor: pointer;
  color: #fe805d;
  border: 1px solid #fe805d;
  font-size: 16px;
  font-weight: 100;
  padding: 8px 25px;
  border-radius: 20px;
  transition: all 0.4s;
  background-color: transparent;
  margin-right: 16px;
}
.button:hover {
  background-color: #fe805d;
  color: #17161c;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li {
  list-style-type: none;
  margin-left: 1.5rem;
}
nav ul li a {
  padding: 1rem;
  text-decoration: none;
}
nav + div {
  margin: 0 auto;
  max-width: 974px;
  display: flex;
  justify-content: space-between;
}
nav + div h1 {
  font-size: 84px;
  color: #fe805d;
  margin-top: 70px;
  font-weight: 100;
}
nav + div p {
  font-size: 20px;
}
nav + div img {
  position: relative;
  top: 80px;
}
/* hero card */
#heroSection {
  background-size: 120%;

  background-image: url("https://static.wixstatic.com/media/ad420a_0966fded081b4a12988a616e305424d1~mv2.jpg/v1/fill/w_1886,h_1454,al_c,q_90,usm_0.66_1.00_0.01/ad420a_0966fded081b4a12988a616e305424d1~mv2.webp");
}
.heroCard {
  width: 100%;
  background-color: #17161c7e;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.heroCard .side {
  width: 100%;
}
.heroCard .side img {
  box-sizing: border-box;
  width: calc(100% - 4rem);
  margin: 2rem;
}
.overlay {
  width: 100%;
  background-color: #17161cde;
  padding: 3rem 0;
  padding-top: 15rem;
}
.heroCardBody {
  padding: 2rem;
  /* line-height: 2rem; */
}
.heroCardBody h1 {
  font-size: 48px;
}
.heroCardBody p {
  line-height: 2rem;
  padding-right: 9rem;
  margin-top: 1.2rem;
}
.heroCardBody h3 {
  margin: 2rem 0;
}
.side > p {
  margin: 2rem 0;
  background-color: #fe805d;
  display: inline-block;
  color: #17161c;
  padding: 5px 160px 5px 40px;
  position: relative;
  overflow: hidden;
}
.side p span {
  /* position: relative; */
  width: 10px;
  height: 10px;
  padding: 1rem;
  position: absolute;
  transform: rotate(45deg);
  top: -26px;
  right: -25px;
}
.side p span::after {
  content: "";
  width: 100px;
  height: 100px;
  padding: 1rem;
  transform: rotate(90deg);
  background-color: #25252c;
}
.rewiews {
  background-color: #1f222f;
  text-align: center;
}
.comments {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 0 15rem; */
  max-width: 1440px;
  margin: 0 auto;
}
.comment {
  max-width: 250px;
  line-height: 1.5rem;
  margin: 2rem;
  font-size: 14px;
}
.comment svg {
  margin-bottom: 2rem;
  fill: #fe805d;
}
.rewiews h1 {
  padding: 5rem 0 2rem 0;
  font-size: 36px;
  font-weight: 200;
  color: #fe805d;
}
.comment hr {
  border: none;
  height: 1px;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
}

.comment p:nth-child(3) {
  color: #fe805d;
  width: 60%;
  font-size: 14px;
  /* text-align: center; */
  margin: 0 auto;
  margin-top: 3rem;
}
.posts {
  background-color: #17161c;
  text-align: center;
}
.card {
  margin-top: 3rem;
  padding: 4rem 8rem 3rem 8rem;
  border: 1.5px solid white;
}
.card p {
  font-size: 24px;
  font-weight: 200;
}
.card button {
  margin-top: 3rem;
  padding: 5px 3.2rem;
}
.posts h1 {
  font-size: 42px;
  padding-top: 5rem;
  color: #fe805d;
  font-weight: 200;
  margin-bottom: 1.5rem;
}
.posts h1 + p {
  font-size: 14px;
  line-height: 1.8rem;
}
.aboutme {
  background-color: #1f222f;
  padding: 5rem;
  margin-top: 10rem;
  position: relative;
}
.aboutme img {
  position: absolute;
  top: -75px;
  left: calc(50% - 75px);
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.aboutme p {
  padding: 0 12rem;
  margin-bottom: 4rem;
}
.aboutme button {
  margin-bottom: 4rem;
}
footer {
  padding: 0.6rem;
  background-color: #fe805d;
  text-align: center;
}
footer p {
  color: #17161c !important;
}
